<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Verizon5GApp1.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6860BD0134D723D29AC98D7A38F30557BB113BCB</string>
				<key>dateExpires</key>
				<string>14/06/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>696775MLZ3.com.netcracker.Verizon5G</string>
				<key>com.apple.developer.team-identifier</key>
				<string>696775MLZ3</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>696775MLZ3.com.netcracker.Verizon5G</string>
				</array>
			</dict>
			<key>name</key>
			<string>Verizon5GApp1.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ce6f02c5-04e3-4ce5-9dac-830698978b10</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>696775MLZ3</string>
				<key>name</key>
				<string>NetCracker Technology, Corp.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
