<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Brooklyn</key>
	<array>
		<string>10000</string>
		<string>40.65</string>
		<string>-73.94</string>
	</array>
</dict>
</plist>
